/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*//* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
#ab{
	font-size: 25px;
	color:black;
	margin-top: 30px;
}
#xx{
	padding-top:5%;
}


@font-face{
	font-family: "msyi";
	src:url(../fonts/msyi.ttf);
}

@font-face{
	font-family: "segoeui";
	src:url(../fonts/segoeui.ttf);
}


body{
	width:100%;
	text-align:center;
}

body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

.menu{
	background:url("../images/upload/lazer.jpg" ) 0px -230px no-repeat;
	width:100%;
	height:650px;
	background-size:cover;
	display:block;
}

.navbar-default {
	background-color: transparent;
	border: none;
}

.navbar-default .navbar-nav>li>a {
	color: #000;
	font-size:18px;
	padding-top: 50px;
	text-decoration: none;
	font-family: "segoeui";
}

.navbar-default .navbar-nav>li>a:hover {
	color:#a02341;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	outline: none;
}

a:focus,a:hover {
	outline: none;
}

.logo img{
	width:70%;
	padding-top:15px;
}

.header-content{
	float:right;
	padding-top:150px;
	text-align:center;
}

.header-content h1{
	font-family: "segoeui";
	font-size:60px;
	color:#222c36;
}

.header-content h2{
	font-family: "segoeui";
	font-size:30px;
	color:#222c36;
}

h3{
	font-size:40px;
	color:#2E1CB9;
	text-align:center;
	font-family: "segoeui";
}


/* ----------Header Ends Here ---------- */

.icon-info{
	background-color:#a02341;
	width:100%;
}

.info{
	padding:50px 0;
}

.info p{
	font-size:18px;
	color:#fff;
	line-height:24px;
	text-align:center;
	font-family: "msyi";
	padding-bottom:15px;
}

.hi-icon-wrap {
	display:inline-block;
}

.hi-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	margin: 15px 30px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #fff;
}

.hi-icon:after {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.hi-icon:before {
	speak: none;
	width:70px;
	height:70px;
	line-height: 90px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}

.hi-icon-sofa:before {
	content: "\e009";
	background:url("../images/icons2.png" ) 0px 0px no-repeat;
}

.hi-icon-rack:before {
	content: "\e00a";
	background:url("../images/icons2.png" ) -70px 0px no-repeat;
}

.hi-icon-bed:before {
	content: "\e002";
	background:url("../images/icons2.png" ) -140px 0px no-repeat;
}


/* Effect 1 */

.hi-icon-effect-1 .hi-icon:after {
	top: -7px;
	left: -7px;
	padding: 7px;
	box-shadow: 0 0 0 4px  rgba(31, 28, 29, 0.5);
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0;
}

/* Effect 1a */
.hi-icon-effect-1a .hi-icon:hover {
	background: rgba(31, 28, 29, 0.5);
	color: #41ab6b;
}

.hi-icon-effect-1a .hi-icon:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

/* --------------  ICON info Ends Here --------------  */

.new-arrivals{
	width:100%;
	background-color:#fff;
}

.padding-new{
	padding:100px 0;
}

.new-arrivals h3{
	padding-bottom:60px;
}

.new-res {
    padding: 0px;
	margin:0px;
}

.new-i,.new-t{
	padding:0;
	margin:0;
}

.new-text{
	padding-top:50px;
}

.new-text h4{
	font-size:30px;
	font-weight:400;
	padding-bottom:15px;
	font-family: "segoeui";
	color:#000;
}

.new-text p{
	font-size:18px;
	font-family: "msyi";
	padding:0 15px;
	line-height:24px;
	color:#000;
}
.hovereffect {
	width:100%;
	height:100%;
	float:left;
	overflow:hidden;
	position:relative;
	text-align:center;
	cursor:default;
}

.hovereffect img {
	display:block;
	position:relative;
	-webkit-transition:all .4s linear;
	transition:all .4s linear;
}

.hovereffect:hover img {
	-ms-transform:scale(1.2);
	-webkit-transform:scale(1.2);
	transform:scale(1.2);
}
/* ----------- New Ends Here ------------ */

.about{
	background:url("../images/about.jpg" ) 0px 0px no-repeat;
	width:100%;
	min-height:600px;
	background-size:cover;
	display:block;
}

.about-content{
	float:right;
	width:400px;
	padding-top:175px;
}

.about-content h3{
	padding-bottom:25px;
}

.about-content p{
	font-size:20px;
	font-family: "msyi";
	line-height:26px;
	color:#000;
}


/* ---------- about ends here ----------- */

.catalogue h3{
	padding-bottom:25px;
}

.padding-catalogue{
	padding:75px 0;
}

.chairs-img{
	padding:2.5px 5px;
	width:25%;
}


/*----sap-----*/
.sap_tabs {
  margin: 0 auto;
  padding:25px 0px;
  text-align: center;
  -webkit-appearance: none;
 }

.facts{
  padding: 5% 0% 0% 0%;
}

.resp-tab-item{
  border:none;
  color: #000;
  font-size: 24px;
  font-family: "segoeui";
  cursor: pointer;
  padding:5px 30px 7px;
  margin:5px;
  display: inline-block;
  list-style: none;
  outline: none;
  border:2px solid #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-appearance: none;
}


.resp-tab-active, .resp-tab-item:hover {
    border:2px solid #fff;
	text-shadow: none;
    color: #fff;
	background:#a02341;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}

h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}

.resp-tab-content {
	display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}

/*---------*/


*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.wrapper{
	padding-left: 80px;
}
/*************************************
Build the scene and rotate on hover
**************************************/

.scene {
	width: 260px;
	height: 260px;
	margin: 30px;
	float: left;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
}

.frontview {
	width: 260px;
	height: 260px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(-130px);
	-moz-transform: translateZ(-130px);
	transform: translateZ(-130px);
	-webkit-transition: -webkit-transform 350ms;
	-moz-transition: -moz-transform 350ms;
	transition: transform 350ms;
}

.frontview:hover {
	-webkit-transform: rotateY(-78deg) translateZ(20px);
	-moz-transform: rotateY(-78deg) translateZ(20px);
	transform: rotateY(-78deg) translateZ(20px);
}

/*************************************
Transform and style the two planes
**************************************/

.frontview .price-tag,
.frontview .info {
	position: absolute;
	width: 260px;
	height: 260px;
	background-color: #a02341;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.frontview .price-tag  {
	-webkit-transform: translateZ(130px);
	-moz-transform: translateZ(130px);
	transform: translateZ(130px);
	background-size: cover;
	background-repeat: no-repeat;
}

.frontview .info {
	-webkit-transform: rotateY(90deg) translateZ(130px);
	-moz-transform: rotateY(90deg) translateZ(130px);
	transform: rotateY(90deg) translateZ(130px);
	border: 1px solid #B8B5B5;
	font-size: 0.75em;
}

/*************************************
Shadow beneath the 3D object
**************************************/

.csstransforms3d .frontview::after {
	content: '';
	width: 120px;
	height: 260px;
	position: absolute;
	bottom: 0;
	box-shadow: 0 30px 50px rgba(0,0,0,0.6);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	-webkit-transform: rotateX(90deg) translateY(130px);
	-moz-transform: rotateX(90deg) translateY(130px);
	transform: rotateX(90deg) translateY(130px);
	-webkit-transition: box-shadow 350ms;
	-moz-transition: box-shadow 350ms;
	transition: box-shadow 350ms;
}

.csstransforms3d .frontview:hover::after {
	box-shadow: 20px -5px 50px rgba(0,0,0,0.3);
}

/*************************************
frontview information
**************************************/

.info header {
	color: #FFF;
	padding: 7px 10px;
	height: 195px;
	background-size: contain;
	background-repeat: no-repeat;
}

.info header h4 {
	margin: 0 0 2px;
	font-size: 24px;
	font-family: "segoeui";
}

.info header .dollar {
	font-size:20px;
	font-family: "msyi";
	padding-right:5px;
	padding-top:15px;
	display:inline-block;
}

.info header .rating {
	font-size:22px;
	padding-top:15px;
	display:inline-block;
	font-family: "segoeui";

}

.info header p {
	font-size:16px;
	padding-top:15px;
	display:inline-block;
	font-family: "msyi";
	line-height:20px;
}

/*************************************
Fallback
**************************************/
.no-csstransforms3d .frontview .price-tag,
.no-csstransforms3d .frontview .info {
	position: relative;
}

/* --------- Catalogue Ends here ---------- */



/* ---------- Contacts Starts from here ---------- */

.contact{
	background-color:#a02341;
	width:100%;
}

.contact h3{
	padding-bottom:50px;
	color:#fff;
}


.padding-contact{
	padding:50px 0;
}

.address{
	color:#fff;
	text-align:left;
}

.address h4{
	font-size:26px;
	padding-bottom:25px;
	font-family: "segoeui";
}
address{
	font-size:20px;
	font-family: "msyi";
	line-height:20px;
}

.address span{
	padding-top:15px;
	color:#C8C5F7;
	display:block;
}

.register input[type="text"], .register input[type="message"]{
	outline: none;
    font-size:18px;
	color: #fff;
	font-family: "msyi";
	padding: 15px 10px;
	border:none;
	border-bottom:2px solid #fff;
	width: 42%;
    margin: 0 15px 15px 15px ;
	background:transparent;
}

.register input[type="message"] {
	width: 90%;
}

.sign-up input[type="submit"] {
    background:transparent;
    color: #fff;
	border: 2px solid #fff;
    font-size: 18px;
	font-family: "segoeui";
    padding: 15px 10px 15px 15px;
    width: 30%;
    cursor: pointer;
    outline: none;
    display: inline-block;
    margin-top:24px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.sign-up input[type="submit"]:hover {
	border: 2px solid #222c36;
}

.quick h4{
	font-size:26px;
	padding-bottom:25px;
	font-family: "segoeui";
	color:#fff;
}

.quick ul li a{
	font-size:20px;
	font-family: "msyi";
	line-height:30px;
	color:#fff;
	text-decoration:none;
}

.quick ul li a:hover{
	color:#C8C5F7;
	text-decoration:none;
}

/* ----------- Copy-right starts from here ---------- */

.copy-right p{
	padding:0px 15px;
	padding-bottom:50px;
	font-size:20px;
	font-family: "msyi";
	color:#fff;
}

.copy-right a{
	color:#C8C5F7;
	text-decoration:none;
}

.copy-right a:hover{
	color:#222c36;
}


/*-- Go-To-Top-Button --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	overflow: hidden;
	width: 48px;
	height: 48px;
	border: none;
	text-indent: 100%;
	background: url("../images/to-top.png") no-repeat 0px 0px;
}
/*-- //Go-To-Top-Button --*/





/*-- responsive media queries --*/


@media screen and (max-width:1080px){

.menu {
    height: 425px;
}

.navbar-default .navbar-nav>li>a {
	padding-top: 25px;
}


.logo img{
	padding-top:0px;
	width: 60%;
}

.header-content {
    padding-top: 115px;
}
.header-content h1 {
    font-size: 50px;
}

.new-text {
    padding-top: 10px;
}

.about {
    background: url("../images/about.jpg") -200px 0px no-repeat;
	min-height: 500px;
}
.about-content {
    padding-top: 130px;
}


.wrapper {
    padding-left: 120px;
}

.sign-up input[type="submit"] {
    padding: 5px;
    width: 24%;
    margin-top: 20px;
}

}


@media screen and (max-width:1050px){
.wrapper {
    padding-left: 126px;
}

}

@media screen and (max-width:1024px){
.menu {
    height: 420px;
}
.wrapper {
    padding-left: 132px;
}

}


@media screen and (max-width:991px){

.menu {
    height: 400px;
}

.icon {
    width: 33%;
    float: left;
}

.new-res {
   padding:5px 0px;
	margin:0px;
	width:100%;
	float:left;
}

.new-i{
	width:41%;
	float:left;
}
.new-t{
	width:58%;
	float:left;
}

.new-text {
    padding-top: 75px;
}

.about-content {
    width: 320px;
}

.wrapper {
    padding-left: 2px;
}

.address{
	width:25%;
	float:left;
}

.c-form{
	width:50%;
	float:left;
}
.register input[type="text"]{
    width: 39%;
}

.quick{
	width:25%;
	float:left;
}

}


@media screen and (max-width:800px){
.menu {
    height: 325px;
}

.header-content {
    padding-top: 60px;
}
.header-content h1 {
    font-size: 42px;
}
.header-content h2 {
    font-size: 18px;
}
.logo img {
    width: 46%;
}

.hi-icon ,.hi-icon:before {
    width: 60px;
    height: 60px;
}

.hi-icon-sofa:before {
    background-size: 200px;
}

.hi-icon-rack:before {
	background: url("../images/icons2.png") -61px 0px no-repeat;
	background-size: 200px;
}

.hi-icon-bed:before {
	background: url("../images/icons2.png") -122px 0px no-repeat;
	background-size: 200px;
}

h3 {
    font-size: 36px;
}

}

@media screen and (max-width:768px){
.menu {
    height: 310px;
}
.register input[type="text"] {
    width: 90%;
}
.navbar-collapse {
    border-top: 0px solid transparent;
}
.info p {
    font-size: 16px;
}

}

@media screen and (max-width:736px){

div#bs-example-navbar-collapse-1 {
    position: absolute;
    width: 100%;
    background: rgba(53, 38, 38, 0.75);;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #2B2ACE;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
	color:#2E1CB9;
}

}

@media screen and (max-width:667px){
.menu {
    height: 300px;
}

.icon {
    width: 100%;
}
.new-text {
    padding-top: 55px;
}
.icon-info {
    padding: 20px 0px;
}

.info {
    padding: 5px 0;
}
.about {
    background: url("../images/about.jpg") -235px 0px no-repeat;
}

.wrapper {
    padding-left: 122px;
}

.address h4 {
    font-size: 22px;
}
address {
    font-size: 18px;
}


.sign-up input[type="submit"] {
    padding: 5px;
    width: 28%
}

input[type="text"], .register input[type="message"] {
    padding: 10px 10px;
}

.quick h4 {
    font-size: 22px;
}
.quick ul li a {
    font-size: 18px;
}

}


@media screen and (max-width:640px){

.header-content {
    padding-top: 50px;
}

.menu {
    height: 290px;
}

.new-text {
    padding-top: 50px;
}

}

@media screen and (max-width:600px){

.padding-new {
    padding: 50px 0;
}

h3 {
    font-size: 34px;
}

.new-text h4 {
    font-size: 26px;
}
.new-text p {
    font-size: 16px;
}
.about-content p {
    font-size: 18px;
}
.padding-catalogue {
    padding: 50px 0;
}

.resp-tab-item {
    font-size: 22px;
    padding: 5px 22px 7px;
}
.sap_tabs {
padding: 0px 0px;
}
.wrapper {
    padding-left: 105px;
}

.address h4 {
    font-size: 20px;
}

.quick h4 {
    font-size: 20px;
}
.copy-right p {
    font-size: 18px;
}


}

@media screen and (max-width:480px){
.navbar-default .navbar-nav>li>a {
    padding-top: 10px;
	z-index:999;
}

.menu {
    height: 250px;
}

.header-content {
    padding-top: 20px;
    padding-left: 210px;
}

.header-content h1 {
    font-size: 30px;
}
.header-content h2 {
    font-size: 15px;
}

h3 {
    font-size: 30px;
}

.header-content {
    float: none;
}


.info p {
    font-size: 16px;
}
.new-arrivals h3 {
    padding-bottom: 40px;
}

.new-i {
    width: 70%;
    float: none;
    margin: 0 auto;
}

.new-image img{
	width:100%;
}
.new-text {
    float: left;
	padding-top: 10px;
}

.new-t {
    width: 100%;
    float: none;
}

.new-text p {
    padding-bottom:20px;
    line-height: 20px;
}

.new-text h4 {
    padding-bottom: 5px;
	font-size: 20px;
}

.about {
    background: url("../images/about.jpg") -490px 0px no-repeat;
}

.resp-tab-item {
    font-size: 20px;
    padding: 5px 18px 7px;
}

.wrapper {
    padding-left: 45px;
}

.address {
    width: 100%;
	text-align:center;
}

.address h4 {
    font-size: 24px;
    padding-bottom: 12px;
	color: #2E1CB9;
}
.address span {
    padding-top: 6px;
}


.c-form {
    width: 100%;
	padding-top:50px;
}

.register input[type="text"], .register input[type="message"] {
    padding: 10px;
}
.quick {
    width: 100%;
	padding-top:40px;
}
.quick h4 {
    font-size: 24px;
	color: #2E1CB9;
	padding-bottom:10px;
}


}

@media screen and (max-width:414px){

.new-text {
    padding-top: 4px;
}
.header-content {
    padding-top: 20px;
    padding-left: 0px;
}

.logo img {
    width: 36%;
}

h3 {
    font-size: 28px;
}
.about {
    min-height: 400px;
}

.about-content {
    padding-top: 80px;
}

.resp-tab-item {
   margin:0px;
}
.wrapper {
    padding-left: 12px;
}

.about-content {
    width: 100%;
    float: none;
}

}

@media screen and (max-width:384px){

.resp-tab-item {
    font-size: 18px;
    padding: 5px 14px 7px;
}

.wrapper {
    padding-left: 0px;
}

.scene {
    margin: 20px;
}

}

@media screen and (max-width:320px){

.scene {
    margin: 20px 0px;
	padding:0;
}

.resp-tab-item {
    padding: 5px 8px 7px;
}


}

#na{
	color:black;
}
